<?xml version="1.0" encoding="UTF-8"?>
<included>
    <include resource="reform-console-appender.xml"/>

    <appender name="SSCS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/migration-steps.log</file>
        <append>true</append>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./logs/migration-steps.%i.log</fileNamePattern>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="MIGRATION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/migration-results.log</file>
        <append>true</append>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./logs/migration-results.%i.log</fileNamePattern>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="MIGRATION_ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/migration-errors.log</file>
        <append>true</append>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./logs/migration-errors.%i.log</fileNamePattern>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="uk.gov.hmcts.reform.sscs" level="INFO">
        <appender-ref ref="SSCS_FILE" />
    </logger>

    <logger name="uk.gov.hmcts.reform.migration" level="INFO">
        <appender-ref ref="MIGRATION_FILE" />
    </logger>

    <logger name="uk.gov.hmcts.reform.migration.CaseMigrationProcessor" level="ERROR">
        <appender-ref ref="MIGRATION_ERROR_FILE" />
    </logger>
</included>
